<% %>

<% local($tplvar) %>
<% set($tplvar, "set in template") %>
<%php:= $tplvar . ", accessed in php" %>
<%js:= tplvar + ", accessed in js" %>
<%py:= tplvar + ", accessed in py" %>

<%php: $tplvar = "set in php"; %>
<%js: tplvar = "set in js"; %>
<%py: tplvar = "set in py" %>
<% cc($tplvar, ", accessed in template") %>


<% local($v) %>
<% for ($v in $list) %>
<%php:
	$foo = "php";
	$bar = "code";
%><%js:
    var foo = "js";
    var bar = "code";
%><%py:
    foo = "py"
    bar = "code"
%>
<% cc("template: ", $v) %>
<%php:= "php: " . (string)$v %><%js:= "js: " + String(v) %><%py:= "py: " + str(v) %>
<% endfor %>

<%php:postdent(1):
foreach ($data['list'] as $v)
{
%><%js:postdent(1):
for (var i=0; i<data['list'].length; ++i)
{
	v = data['list'][i];
%><%py:postdent(1):
for v in data['list']:
	#tabbed comment
%><% $v %>
<%php:predent(-1):
}
%><%js:predent(-1):
}
%><%py:predent(-1):

%>
