<% %>
<!DOCTYPE html>
<html>
    <!-- PROOf Of CONCEPT
    /*
    *  Simple light-weight template engine for PHP, Python, Node and client-side JavaScript
    *  @author: Nikos M.  http://nikos-web-development.netai.net/
    *
    *  @inspired by : Simple JavaScript Templating, John Resig - http://ejohn.org/ - MIT Licensed
    *  http://ejohn.org/blog/javascript-micro-templating/
    *
    */
    -->
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style>#forkongithub a{background:#aa0000;color:#fff;text-decoration:none;font-family:arial, sans-serif;text-align:center;font-weight:bold;padding:5px 40px;font-size:0.9rem;line-height:1.4rem;position:relative;transition:0.5s;}#forkongithub a:hover{background:#aa0000;color:#fff;}#forkongithub a::before,#forkongithub a::after{content:"";width:100%;display:block;position:absolute;z-index:100;top:1px;left:0;height:1px;background:#fff;}#forkongithub a::after{bottom:1px;top:auto;}@media screen and (min-width:800px){#forkongithub{position:absolute;display:block;z-index:100;top:0;right:0;width:200px;overflow:hidden;height:200px;}#forkongithub a{width:200px;position:absolute;top:60px;right:-60px;transform:rotate(45deg);-webkit-transform:rotate(45deg);box-shadow:4px 4px 10px rgba(0,0,0,0.8);}}</style>
        <script type="text/x-contemplate" id="base_tpl"><% $templates["base"] %></script>
        <script type="text/x-contemplate" id="demo_tpl"><% $templates["demo"] %></script>
        <script type="text/x-contemplate" id="date_tpl"><% $templates["date"] %></script>
        <script type="text/x-contemplate" id="sub_tpl"><% $templates["sub"] %></script>
        <script src="./js/Contemplate.min.js"></script>
    </head>

    <body>
        
        <span id="forkongithub"><a href="https://github.com/foo123/Contemplate">Eat me on GitHub</a></span>
        
        <strong>Contemplate.VERSION = <% $contemplate_version %></strong><br /><br />
        
        An inline template:
        <div id="inline"><% $render_inline %></div>
        
        <hr />
                
        In the SERVER:
        <div id="results_server"><% $render_server %></div>
        
        <hr />
        
        In the CLIENT:
        <strong>Contemplate.VERSION (client) = <span id="version">0</span></strong><br /><br />
        <div id="results_client"></div>
        <script type="text/javascript">
        Contemplate.setLocales({
            "locale": "γλωσσική περιοχή"
        });
        Contemplate.setPlurals({
            'item': null // auto plural
        });

        /* add the templates */
        Contemplate.add({
            'base': "#base_tpl",
            'demo': "#demo_tpl",
            "sub" : "#sub_tpl",
            'date': "#date_tpl"
        });
        Contemplate.addPlugin('plg_test', function(v){
            if ( v ) return 'Plugin Test value: ' + v;
            return 'Plugin Test no value given';
        });
        Contemplate.addPlugin('plg_print', function(v){
            return '<pre>' + JSON.stringify(v, null, 4) + '</pre>';
        });
        window.bracket = function(v)
        {
            return '[[' + v + ']]';
        }
        Contemplate.addPlugin('inlinedBracket', Contemplate.inline('bracket($args)',{'$args':'args'}));
        document.getElementById("version").innerHTML = ''+Contemplate.VERSION;
        var output = Contemplate.tpl('demo', <% $data_client %>);
        document.getElementById("results_client").innerHTML = output;
        console.log(output);
        </script>
    
    </body>

</html>