<% %>
<% local($t) %>
<% set($t, {"v":0}) %>

<% $v->prop %>

<% $v->func(urlencode($v->prop)) %>

<% $a[0] %>

<% $a[1].prop %>

<% $v->method(urlencode($v->prop))->func("foo") %>

<% urlencode($v->method("foo")->func("bar")) %>

<% urlencode($v->method("foo")->prop) %>

<% urlencode($v->method("foo")->prop2->prop) %>

<% get($a, [0+1, "prop"]) %>

<% get($a, [n("0")+1,"prop"]) %>

<% get($v, "propGetter") %>

<% $a[0+1]["prop"] %>

<% $a[n("0")+1]["prop"] %>

<% $a[$t.v+1]["prop"] %>

<% $a[n($t.v)+1]["prop"] %>

<% set($t, [[1,2,3]]) %>
<% for($t[0] as $i => $v) %>
    <% $i %>,<% $v %>
<% endfor %>